.header-wrapper {
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 100;
  box-shadow: 0px -7px 20px 0px rgba(108, 108, 108, 0.38);

  &__dropdown {
    display: inline-block;
    box-shadow: 0 0 1px 1px #00000038;
    border-radius: 3%;
    margin-left: 5px;
  }

  &__dropdown-items {
    box-shadow: 0 0 1px 1px #00000038;
  }
}
